.bg{
    background: #e6e4e4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px 4px 0px 0px
}
.icon{
    margin-right: 10px;
    font-size: 30px;
}
.icon_btn{
    font-size: 25px;
    margin-left: 10px;
}